APP_NAME=Volt Flow Backend
APP_ENV=development
APP_VERSION=0.1.0

API_HOST=127.0.0.1
API_PORT=8000
API_RELOAD=true

POSTGRES_USER=voltflow
POSTGRES_PASSWORD=voltflow_password
POSTGRES_DB=voltflow_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

DATABASE_URL=
DATABASE_ECHO=false
DATABASE_POOL_SIZE=5
DATABASE_MAX_OVERFLOW=10
CREATE_DB_TABLES_ON_STARTUP=true
